body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding: 0px;
    background: #292925;
    color: #fff;
    text-align: center;
    
}
canvas{
    background: #fff;
}
#status{
    background: #181813;
}